game
.vscode/
log.txt
task.md
*.o
*.a
*.gcda
*.gcno
gui/desktop/Snake/.q*
gui/desktop/Snake/qtcsettings.cmake
gui/desktop/Snake/*.cmake
gui/desktop/Snake/CMakeCache.txt
gui/desktop/Snake/Testing
gui/desktop/Snake/Snake_autogen
gui/desktop/Snake/CMakeFiles